body{
    background-color: rgb(7, 156, 161);
}
div{
    background-color: wheat;
    width: 20%;
    height: 250px;
    margin: auto;
    padding-top: 50px;
    text-align: center;
    margin-top: 80px;
    color: ;
}
