body{
    background-color: black;
}
div{
    text-align: center;
    color: white;
    letter-spacing: 15px;
    
    
   
}
.abc1{
    border-bottom: 2px solid green;
}
.fff{
    border-bottom: 8px solid aqua;
    width: 220px;
    margin: auto;

}
